/* mulish-regular - latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/mulish-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/mulish-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/mulish-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/mulish-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/mulish-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/mulish-v12-latin-regular.svg#Mulish') format('svg'); /* Legacy iOS */
}
/* mulish-600 - latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/mulish-v12-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/mulish-v12-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/mulish-v12-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/mulish-v12-latin-600.woff') format('woff'), /* Modern Browsers */
  url('../fonts/mulish-v12-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/mulish-v12-latin-600.svg#Mulish') format('svg'); /* Legacy iOS */
}
/* mulish-700 - latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/mulish-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/mulish-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/mulish-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/mulish-v12-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/mulish-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/mulish-v12-latin-700.svg#Mulish') format('svg'); /* Legacy iOS */
}
/* mulish-800 - latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/mulish-v12-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/mulish-v12-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/mulish-v12-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/mulish-v12-latin-800.woff') format('woff'), /* Modern Browsers */
  url('../fonts/mulish-v12-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/mulish-v12-latin-800.svg#Mulish') format('svg'); /* Legacy iOS */
}


:root {
  /* --header-bg-color: #fff; */
  /* --main-bg-color: #fff; */
  --main-text-color: #3D3D3F;
  --text-color: #fff;
  --hero-bg-color: #FD695A;
}

/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: 'Mulish';
  font-weight: 400;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a{
  text-decoration: none;
}

ul,ol,li{
  list-style: none;
  padding-left: 0;
}
/* CONTAINER */
.container {
  max-width: 1225px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* *** SITE HEADER START **** */

.site-header {
  padding-top: 39px;
  padding-bottom: 39px;
  background-color: #F9FAFD;
}

.site-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header-start {
  width: 100%;
  max-width: 835px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 466px;
}

.site-header-item-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #150A29;
}
.site-header-btn {
  padding: 11px 27px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: var(--text-color);
  background-color: var(--hero-bg-color);
  border-radius: 50px;
}

/* *** SITE HEADER END **** */

/* ***** SITE MAIN START **** */
/* ****** HERO SECTION START ***** */

.site-main{
  background-color: #F9FAFD;
}
.hero-section {
  position: relative;
  padding-top: 90px;
  padding-bottom: 226px;
  background-image: url(../images/hero-section-bg.png);
  background-repeat: no-repeat;
  background-position: calc(50% + 250px) calc(50% - 50px);
}

.hero-section-wrapper {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.hero-section-start-title {
  width: 100%;
  max-width: 607px;
  margin-top: 0;
  margin-bottom: 64px;
  margin-top: 0;
  margin-bottom: 53px;
  font-weight: 800;
  font-size: 70px;
  line-height: 94px;
  letter-spacing: 2px;
  color: var(--main-text-color);
}

.mark{
  color: var(--hero-bg-color);
}
.hero-section-start-subtitle {
  width: 100%;
  max-width: 464px;
  font-weight: 400;
  font-size: 21px;
  line-height: 34px;
  color: var(--main-text-color);
  opacity: 0.75;
  margin-top: 0;
  margin-bottom: 64px;
}
.hero-section-start-box {
  display: flex;
  align-items: center;
}
.hero-section-start-btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: var(--text-color);
  background-color: #FD695A;
  border-radius: 50px;
  padding: 15px 31px;
  margin-right: 38px;
}
.hero-section-watch {
  display: flex;
  align-items: center;
}
.hero-section-start-play {
  width: 50px;
  height: 50px;
  background-color: whitesmoke;
  box-shadow: 0px 0px 10px 5px #00000038;
  padding: 15px 15px;
  border-radius: 50%;
  margin-right: 16px;
}
.hero-section-start-watch-video {
  font-size: 18px;
  line-height: 23px;
  color: var(--hero-bg-color);
  margin: 0;
}

.hero-section-start-team-box {
  position: relative;
  top: 140px;
  left: -100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 17px;
  padding-right: 18px;
  padding-left: 18px;
  padding-bottom: 15px;
  background-image: linear-gradient(106.41deg, #FFFFFF 0.7%, rgba(255, 255, 255, 0.28) 99.06%, rgba(255, 255, 255, 0.69) 99.07%, #FFFFFF 99.07%);
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
  border-radius: 9px;
}

.hero-section-start-team-box::before{
  position: absolute;
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-color: #7879F1;
  background-image: url(../images/users.svg);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  left: -10px;
  top: -20px;
}

.hero-section-start-team-title {
  margin-top: 0;
  margin-bottom: 7px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: var(--main-text-color);
  opacity: 0.9;
  text-align: center;
}
.hero-section-start-team-box-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-section-start-team-img {
  margin-left: -10px;
}
.hero-section-start-team-like {
  position: absolute;
  bottom: -10px;
}

/* ****** HERO SECTION END ***** */

/* ****** OUR TRUSTED CLIENTS SECTION START **** */
.our-trusted-clients-section {
  padding-bottom: 120px;
}

.our-trusted-clients-section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: var(--main-text-color);
  text-align: center;
}
.our-trusted-clients-section-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

/* ****** OUR TRUSTED CLIENTS SECTION END **** */

/* ***** WHAT WE DO SECTION START **** */
.what-we-do-section {
  padding-bottom: 133px;
}

.what-we-do-section-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 75px; */
}

.what-we-do-section-start{
  width: 523px;
}
.what-we-do-section-start-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 50px;
  text-transform: uppercase;
  color: var(--hero-bg-color);
}
.what-we-do-section-start-subtitle {
  position: relative;
  width: 100%;
  max-width: 523px;
  margin-top: 0;
  margin-bottom: 31px;
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: var(--main-text-color);
}

.what-we-do-section-start-subtitle::before{
  position: absolute;
  content: "";
  display: block;
  width: 38px;
  height: 38px;
  background-image: url(../images/rocket.png);
  background-repeat: no-repeat;
  right: calc(50% - 170px);
  bottom: calc(50% - 40px);
}
.what-we-do-section-start-desc {
  width: 100%;
  max-width: 508px;
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #515151;
}
.what-we-do-section-start-btn {
  padding: 11px 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: var(--text-color);
  background-color: #FD695A;
  border-radius: 50px;
}

.what-we-do-section-end-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 32px;
}
.what-we-do-section-end-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px 25px 29px 25px;
  background-color: var(--text-color);
  box-shadow: 0px 6px 12px rgba(44, 22, 84, 0.01);
  border-radius: 15px;
  border-bottom: 10px solid transparent;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.what-we-do-section-end-item:hover{
  border-bottom: 10px solid var(--hero-bg-color);
}

.what-we-do-section-end-item:hover .what-we-do-section-item-btn{
  color: var(--hero-bg-color);
}

.what-we-do-section-end-item::before{
  content: "";
  display: block;
  width: 71px;
  height: 71px;
  margin-bottom: 16px;
  background-color:#7879f10f;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
}

.what-we-do-section-end-item:first-child:before{
  background-image: url(../images/Digital-Marketing.svg);
}
.what-we-do-section-end-item:nth-child(2):before{
  background-image: url(../images/SEO.svg);
}
.what-we-do-section-end-item:nth-child(3):before{
  background-image: url(../images/UI-UX-Design.svg);
}
.what-we-do-section-end-item:last-child:before{
  background-image: url(../images/Web-Development.svg);
}
.what-we-do-section-end-item-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: var(--main-text-color);
  text-align: center;
}
.what-we-do-section-item-subtitle {
  width: 100%;
  max-width: 219px;
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 13.5px;
  line-height: 26px;
  color: #747474;
}
.what-we-do-section-item-btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 26px;
  text-decoration-line: underline;
  color: var(--main-text-color);
  text-decoration: underline;
}
/* ***** WHAT WE DO SECTION END **** */

/* ****** ABOUT US SECTION START ***** */
.about-section{
  padding-bottom: 134px;
}

.about-section-start-subtitle{
  width: 100%;
  max-width: 523px;
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: var(--main-text-color);
  
}
/* ****** ABOUT US SECTION END ***** */

/* ******* OUR-WORK-SECTION START ****** */
.our-work-section {
  padding-bottom: 143px;
}

.our-work-section-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 50px;
  text-transform: uppercase;
  color: var(--hero-bg-color);
}
.our-work-section-subtitle {
  margin-top: 0;
  margin-bottom: 26px;
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  color: var(--main-text-color);
}
.our-work-section-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.our-work-section-list {
  display: flex;
  align-items: center;
  gap: 71px;
}

.our-work-section-item-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #CCCCCC;
  border-bottom: 3px solid transparent;
  padding-bottom: 13px;
}

.our-work-section-item-title:hover{
  color: var(--hero-bg-color);
  border-bottom: 3px solid var(--hero-bg-color);
}
.ur-work-section-top-explore {
  display: flex;
  align-items: center;
}
.ur-work-section-top-explore-title {
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: var(--main-text-color);
}

.our-work-section-img-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* ******* OUR-WORK-SECTION END ****** */
/* ***** TESTIMONIAL SECTION START **** */
.testimonial-section {
  padding-bottom: 182px;
}

.testimonial-section-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.testiminal-section-subtitle{
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  color: var(--main-text-color);
  width: 508px;
  margin: 0;
}

.testimonial-section-start{
  display: flex;
  align-items: center;
}

.testimonial-section-start-box{
  background-color: var(--text-color);
  border-radius: 29px;
  padding: 33px 41px;
  margin-right: 40px;
}

.testimonial-section-start-user {
  display: flex;
  align-items: center;
}
.testimonial-section-start-johne{
  margin-right: 16px;
}
.testimonial-section-start-title {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: var(--main-text-color);
  margin-top: 0;
  margin-bottom: 8px;
}
.testimonial-section-start-subtitle {
  margin: 0;
}
.testimonial-section-start-desc {
  width: 100%;
  max-width: 434px;
  font-weight: 600;
  font-size: 16px;
  line-height: 155%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #757575;
}

.testimonial-section-start-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.testimonial-section-start-arrow-box {
  background-color: var(--hero-bg-color);
  border: none;
  padding: 15px;
  border-radius: 50%;
}

.testimonial-section-start-arrow-box-active{
  background-color: var(--text-color);
  padding: 15px;
  border-radius: 50%;
  border: none;
  margin-bottom: 30px;
}

/* ***** TESTIMONIAL SECTION END **** */

/* ***** ARTICLE START ***** */
.site-article {
  padding-bottom: 120px;
}

.site-article-wrapper {
  padding: 47px 32px 47px 11px;
  position: relative;
  min-height: 284px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(106.41deg, #ffffff52 0.7%, #ffffff99 99.07%);
  border: 4px solid var(--text-color);
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.03);
  border-radius: 15px;
}
.site-article-img {
  position: absolute;
  bottom: 0;
}
.site-article-end {
  margin-left: auto;
}
.site-article-end-title {
  width: 100%;
  max-width: 488px;
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  color: var(--main-text-color);
  
}
.site-article-end-btn {
  padding: 11px 41px;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: var(--text-color);
  background-color: var(--hero-bg-color);
  border-radius: 50px;
}
/* ***** ARTICLE END ***** */
/* ***** SITE MAIN END **** */

/* ****** SITE FOOTER START ***** */
.site-footer {
  padding-bottom: 42px;
  background-color: #F8F8FD;
}

.site-footer-wrapper {
  display: flex;
  align-items: flex-start;
  padding-bottom: 42px;
}

.site-footer-address-list {
  margin-right: 35px;
  
}


.site-footer-address-item:first-child{
  margin-bottom: 26px;
}

.localiton-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.location-img {
  margin-right: 11px;
}

.location-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--main-text-color);
  margin: 0;
}

.site-footer-address-item-tel {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.site-footer-address-item-tel-img {
  margin-right: 11px;
}

.site-footer-address-item-tel-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--main-text-color);
  margin: 0;
}

.site-footer-address {
  display: flex;
  align-items: center;
}

.site-footer-address-img {
  margin-right: 11px;
}

.site-footer-address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--main-text-color);
}

.site-footer-middle-list {
  display: flex;
  align-items: center;
}
.site-footer-middle-item {
}
.site-footer-middle-item:first-child{
  margin-right: 54px;
}

.site-footer-middle-item:nth-child(2){
  margin-right: 108px;
}

.site-footer-middle-item:last-child{
  margin-right: 79px;
}
.site-footer-middle-item-title {
  margin-top: 0;
  margin-bottom: 26px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: var(--main-text-color);
}
.site-footer-middle-item-subtitle {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #666666;
}

.site-footer-middle-item-subtitle:last-child{
  margin-bottom: 0;
}


.input-lable{
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #666666;
  
}
.input-box {
  display: flex;
  flex-direction: column;
}
.input-email {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  width: 100%;
  max-width: 296px;
  background: var(--text-color);
  border: 1px solid rgba(179, 179, 179, 0.21);
  border-radius: 8px;
  margin-bottom: 24px;
}
.site-footer-new-item-btn {
  padding: 16px 48px;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: var(--text-color);
  flex: none;
  order: 0;
  flex-grow: 0;
  background-color: var(--hero-bg-color);
  border-radius: 8px;
}

.site-footer-end {
  padding-top: 26px;
  border-top: 1px solid #757575ab;
}
.container {
}
.site-footer-end-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-footer-end-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #646464;
  margin: 0;
}
.site-footer-end-list {
  display: flex;
  align-items: center;
  gap: 51px;
}

.site-footer-end-item-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #646464;
}
/* ****** SITE FOOTER END ***** */
